.hidden {
	display: none;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin: 10px 0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	position: absolute;
	top: 85%;
    background-color: #ffffff;
    min-width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 5px 5px;
	text-decoration: none;
	border: 1px;
    border-style: solid;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dialbox{
	width: 100px;
}

.hero{
	position: relative;
	widows: 50px;
	height: 50px;
}

.tel-btn{
    border-radius: 10px;
    font-size: 14px;
    padding: 3px 9px;
    border: 0px;
    margin: 5px;
}

.dial-btn{
	background: lightgreen;
}
.answ-btn{
	background: lightgreen;
}
.hold-btn{
	background: orange;
}
.end-btn{
	background: red;
}

.retr-btn{
	background: lightgreen;
}
